@font-face {
    font-family: 'din';
    src: url('../assets/fonts/GPN_DIN-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'din';
    src: url('../assets/fonts/GPN_DIN-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'din condensed';
  src: url('../assets/fonts/GPN_Helios_Condensed-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'din condensed';
  src: url('../assets/fonts/GPN_Helios_Condensed-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin font-regular {
  font-family: "din", sans-serif;
  font-weight: normal;
}
@mixin font-bold {
  font-family: "din", sans-serif;
  font-weight: bold;
}
@mixin font-condensed-regular {
  font-family: "din condensed", sans-serif;
  font-weight: normal;
}
@mixin font-condensed-bold {
  font-family: "din condensed", sans-serif;
  font-weight: bold;
}
  
$fonts: (
  16: 1rem,
  36: 2.25rem,
  40: 2.5rem,
);
:root {
    @each $name, $font in $fonts {
      --font-size-#{$name}: #{$font};
    }
}
  
@function font($name) {
  @return map-get($fonts, $name);
}
  
@mixin font-16 {
  font-size: font(16);
}
@mixin font-36 {
  font-size: font(36);
}
@mixin font-40 {
  font-size: font(40);
}