.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  padding-left: 150px;
  padding-right: 150px;
}

.player_control {
  position: absolute;
  top: 30px;
  right: 30%;
  z-index: 3001;
}
