.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2500;
  padding-top: 110px;
  background-color: #f0f0f0;
}

.hidden {
  display: none;
  pointer-events: none;
}

.controls {
  position: absolute;
  top: 30%;
  left: 0;
  padding-left: 150px;
  padding-right: 150px;
}

.control {
  font-family: 'Din', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  background: transparent;
  border: none;
  color: #002855;
  cursor: pointer;
  transition: transform 0.2s;
}

.control:hover {
  transform: scale(1.03);
}

@media (max-width: 1200px) {
  .modal {
    padding-top: 80px;
  }

  .controls {
    padding-left: 100px;
    padding-right: 100px;
  }

  .control {
    font-size: 30px;
  }
}
