@import './styles/color';
@import './styles/spacing';
@import './styles/typography';
@import './styles/grid';
@import './styles/normalize';
@import './styles/pages';

@import './components/mainLetters/mainLetters';
@import './components/horizontalFlow/horizontalFlow';
@import './components/timeLaps/timeLaps';
@import './components/platformMenu/platformMenu';

html {
  @include font-regular;
}

html,
body {
  @media screen and (orientation: portrait) {
    position: relative;
    height: 100%;
    overflow: hidden;
    max-height: 100vh;
  }
}

body {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  height: 100%;
}

.color-layer {
  z-index: -1;
}

.color-blue {
  background-color: color('blue-light');
}

.color-white {
  background-color: color('white');
}
