.page {
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
  overflow: hidden;
}

.page_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  width: 100%;
  max-width: 1575px;
  height: 100%;
}

@media (orientation: portrait) {
  .page_inner {
    flex-direction: column;
    gap: 100px;
  }
}

.header {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.title {
  max-width: 593px;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.25;
  color: #002855;
}

.subtitle {
  font-size: 36px;
  line-height: 1.25;
  color: #002855;
  white-space: nowrap;
}

.subtitle::after {
  content: '   ______________________';
}

@media (max-width: 1400px) {
  .header {
    margin-top: 140px;
    gap: 30px;
  }

  .title {
    max-width: 400px;
    font-size: 40px;
  }

  .subtitle {
    font-size: 30px;
  }

  .subtitle::after {
    content: '   _______________';
  }
}

@media (max-width: 1200px) {
  .header {
    margin-top: 105px;
  }

  .title {
    max-width: 400px;
    font-size: 34px;
  }

  .subtitle {
    font-size: 24px;
  }
}

.tickets {
  position: relative;
  width: 842px;
  height: 521px;
}

.ticket {
  position: absolute;
  width: 623.81px;
  height: 298.47px;
}

@media (max-width: 1400px) {
  .tickets {
    width: 700px;
    height: 421px;
  }

  .ticket {
    width: 520px;
    height: 248px;
  }
}

@media (max-width: 1200px) {
  .tickets {
    width: 610px;
    height: 377.5px;
  }

  .ticket {
    width: 450px;
    height: 215px;
  }
}

@media (max-width: 1000px) {
  .tickets {
    width: 540px;
    height: 334px;
  }

  .ticket {
    width: 400px;
    height: 190px;
  }
}

.ticket.children {
  top: 58px;
  left: 22px;
  transform: rotate(-11.5deg);
  transition: transform 0.2s;
  z-index: 2;
}

.ticket.children:hover {
  transform: rotate(-12.5deg) scale(1.03);
}

.ticket.adult {
  right: 0;
  bottom: 0;
  transition: transform 0.2s;
  z-index: 1;
}

.ticket.adult:hover {
  transform: rotate(1deg) scale(1.03);
  z-index: 3;
}

.ticket .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ticket_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ticket_inner.children {
  background-image: url(./assets/children-ticket.png);
  background-size: contain;
}

.ticket_inner.adult {
  background-image: url(./assets/adult-ticket.png);
  background-size: contain;
}
