.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.viewer {
  width: 101%; /* фиксит белую полоску справа на больших экранах */
  height: 100%;
}

.toggle {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  background: url('../../../images/i.png') center / contain no-repeat;
  cursor: pointer;
  z-index: 100;
}

.toggle:focus {
  outline: none;
}

.description {
  position: absolute;
  width: 36%;
  max-width: 308px;
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #002855;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: auto;
  z-index: 50;
}

.content p {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.25;
}

@media (max-width: 1200px) {
  .toggle {
    width: 25px;
    height: 25px;
  }

  .content p {
    padding-top: 50px;
    font-size: 14px;
  }

  .back_btn {
    font-size: 30px;
  }
}
