body.sound-on {
  cursor: url(../../../icons/sound-on-cursor.svg) 50 50, auto;
}

body.sound-off {
  cursor: url(../../../icons/sound-off-cursor.svg) 50 50, auto;
}

body.sound-on.white {
  cursor: url(../../../icons/sound-on-cursor-white.svg) 50 50, auto;
}

body.sound-off.white {
  cursor: url(../../../icons/sound-off-cursor-white.svg) 50 50, auto;
}
