.guide_body {
  display: flex;
  align-items: center;
  gap: 15px;
}

.guide_timeline {
  position: relative;
  background: transparent;
  width: 120px;
}

.guide_timeline_loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #005cb9;
}

.guide_timeline_loader svg {
  cursor: not-allowed;
}

.control {
  height: 52px;
  width: 52px;
  color: #0070ba;
  background: transparent;
  border: none;
  cursor: pointer;
}

.control:disabled,
.control:disabled {
  cursor: not-allowed;
}

.guide_title {
  margin-top: -10px;
  color: #0070ba;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.005em;
}

@media (max-width: 1200px) {
  /* костыль, т.к. сложно подлезть в библиотеку */
  .guide_body {
    margin-top: -25px;
    gap: 5px;
    transform: translateX(-20px);
  }

  .guide_timeline {
    transform: scale(0.7);
    height: 70px;
  }

  .guide_timeline_loader {
    transform: translateX(20px);
  }

  .control {
    height: 30px;
    width: 30px;
  }

  .guide_title {
    margin-top: 0;
    font-size: 14px;
  }
}
