.text {
  position: fixed;
  top: 15%;
    left: 10%;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 250px;
  overflow: hidden;
}

.text_inner {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #002855;
  font-size: 24px;
  line-height: 1.25;
  white-space: pre-wrap;
}

@media (max-width: 1200px) {
  .text {
    top: 15%;
    left: 10%;
  }

  .text_inner {
    font-size: 16px;
  }
}
