.audiogid {
    position: fixed;
    left: 50px;
    top: 22px;
    width: 205px;
    height: 250px;
    margin-top: 109px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    z-index: 2;
}

.invisible {
    opacity: 0;
}

.description {
    color: #F08300;
    font-size: 16px;
    transition: color .3s;
    margin-bottom: 30px;
}

.player_controls {
    margin-bottom: 44px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.description_group {
    display: flex;
    justify-content: space-between;
    width: 154px;
}

.player_timeline {
    background: transparent;
    height: 24px;
    width: 120px;
    margin-right: 16px;
}

.player_play {
    background: url('../../images/Vector.png') center / contain no-repeat;
    height: 24px;
    width: 24px;
}
