.main-letters {
    position: absolute;
    top: 0; left: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
    will-change: transform;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    z-index: 1;

    .main-letters__background {
        width: 100%;
        height: auto;
        background: color('blue');
        display: flex;
        flex: 1;
        justify-content: center;

        &:first-child {
            align-items: flex-end;
            padding-bottom: 4rem;
        }
        &:last-child {
            align-items: flex-start;
            padding-top: 4rem;
        }

        h1, h2 {
            @include font-condensed-regular;
            @include font-36;
            text-transform: lowercase;
            color: color('white');
            text-align: center;
        }
    }

    .main-letters__mask {
        margin: -2px; // убирает артефакт, который появляется под текстом, но добавляет справа
        width: 100%;
        height: auto;
    }

    // перекрывает артефакт, который появляется на моб. версии
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: #005EB8;
    }
}

.main-background {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;

    .main-background__layers {
        overflow: hidden;
        width: 100%;
        height: 200vh;

        .flow-container {
            position: relative;
            width: 100%;
            height: 100%;

            .layer {
                width: 100%;
                height: 200vh;
                position: absolute;
                left: 0; top: 0;
    
                .img {
                    position: absolute;
                    width: 100%; height: 200vh;
                    left: 0; top: 0;
                    transition: 1s opacity;
                    background-position: center;
                    background-size: cover;
                }
    
                &:nth-child(1) {
                    .img {
                        background-image: url(../../assets/images/main-letters/layer-1.png);
                    }
                }
                &:nth-child(2) {
                    .img:first-child {
                        background-image: url(../../assets/images/main-letters/layer-2-blur.png);
                    }
                    .img:last-child {
                        background-image: url(../../assets/images/main-letters/layer-2.png);
                    }
                }
                &:nth-child(3) {
                    .img {
                        background-image: url(../../assets/images/main-letters/layer-3.png);
                    }
                }
                &:nth-child(4) {
                    .img {
                        background-image: url(../../assets/images/main-letters/layer-4.png);
                    }
                }
            }
        }

        .hide {
            opacity: 0 !important;
            transition: 3s opacity !important;
        }
    }
}