.not_found_page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #0070ba;
}

.container {
  padding: 0 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.page_subtitle {
  color: #ffffff;
  width: 205px;
  height: 62px;
  padding-top: 125px;
}

.page_content {
  display: flex;
  height: 670px;
  color: #ffffff;
  padding-top: 153px;
}

.page_title {
  font-size: 5rem;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  margin-right: 62px;
}

.divider {
  width: 1px;
  height: 100%;
  background: #ffffff;
  margin-right: 155px;
}

.page_description {
  font-size: 24px;
  width: 307px;
}

.page_description a {
  color: inherit;
  text-decoration: underline;
}
