.guide {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.guide_controlls {
  display: flex;
  align-items: center;
}

.guide_timeline {
  position: relative;
  background: transparent;
  width: 120px;
}

.guide_timeline_loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide_timeline_loader svg {
  cursor: not-allowed;
}

.guide_controlls {
  height: 100px;
  gap: 15px;
}

.play_btn,
.stop_btn {
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
}

.play_btn {
  background: url('../../../../images/Vector.png') center / contain no-repeat;
}

.stop_btn {
  background: url('../../../../images/pause.svg') center / contain no-repeat;
}

.play_btn:disabled,
.stop_btn:disabled {
  cursor: not-allowed;
}

.description_group {
  display: flex;
  flex-direction: row;
}

.player_desc {
  margin-right: 20px;
}

@media (max-width: 1200px) {
  /* костыль, т.к. сложно подлезть в библиотеку */
  .guide_controlls {
    transform: scale(0.7);
    height: 70px;
    margin-left: -165px;
  }
}
