.slides_modal {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.blue_bg {
  background: #002855;
}

.container {
  padding: 110px 50px 0;
}

.description {
  width: 205px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

.slides_page {
  margin-top: -45px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides_title {
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
}

.slider_main {
  margin-bottom: 85px;
  margin-left: auto;
  max-width: 91.3333%;
  width: 100%;
  height: calc(100vh - 370px);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8.3333%;
}

.back_btn {
  font-size: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.back_btn:hover {
  cursor: pointer;
}

.active {
  opacity: 1;
}

.slider_controls {
  height: 100%;
  justify-self: flex-end;
}

.carousel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .container {
    padding: 70px 50px 0;
  }

  .slides_page {
    margin-top: -35px;
  }

  .slider_main {
    height: calc(100vh - 200px);
  }

  .slides_title {
    font-size: 30px;
  }

  .back_btn {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .back_btn {
    font-size: 16px;
  }
}
