.play_control {
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .play_control {
    width: 60px;
    height: 60px;
  }
}
