header.header {
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #002855;
    align-self: center;
    opacity: 1;
    transition: opacity .3s ease-in-out, color .3s;
    text-decoration: none;
    transition: transform 0.2s;
}

.title:hover {
    transform: scale(1.02);
}

.compass_box {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity .8s;
}

.compass_box:hover {
    cursor: pointer;
}

.compass_box img {
    width: 146px;
    height: 146px;
}

.white {
    filter: contrast(0) invert(1);
}

.invisible {
    opacity: 0;
    transform: scale(0);
}

.right {
    transform: translateX(200px);
    transition: transform 0.6s;
}

.logos {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gazprom_logo {
    width: 90px;
    height: 43px;
}

.white {
    filter: brightness(0) invert(1);
}

.divider {
    width: 1px;
    height: 55px;
    background: #0070BA;
}

.arctic_logo {
    width: 90px;
    height: 43px;
    background: url('../../../images/arctic_time_logo.svg') center / contain no-repeat;
}

@media (max-width: 1200px) {
    header.header {
        height: 70px
    }

    .compass_box img {
        width: 110px;
        height: 110px;
    }

    .container {
        padding-top: 0;
    }

    .title {
        font-size: 24px;
    }

    .right {
        transform: translateY(-200px);
        transition: transform .3s;
    }
    .compass_box {
        top: -10px;
        left: 52%;
    }  
}
