.time-laps {
    width: 100%;
    height: 1500vh;
    margin-top: -200vh;
    // background-color: color('blue-light');

    .color-layer {
        position: absolute;
        height: 1550vh;
        width: 100vw;
        left: 0;
        top: -100vh;
    }

    .time-laps__stages {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .stage-layers, .layer {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .stage-layers .layer {
        .img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        &#whalies, &#ice {
            .img {
                opacity: 0;
            }
        }
    }

    .stage-layers {
        opacity: 0;
        &:first-child {
            .layer {
                transform: scale(1.1);
                &:nth-child(1) {
                    .img {
                        background-image: url(../../assets/images/time-laps/zoomed-birds/layer-1.png);
                    }
                }
                &:nth-child(2) {
                    .img {
                        background-image: url(../../assets/images/time-laps/zoomed-birds/layer-2.png);
                    }
                }
            }
        }
        &:nth-child(2) {
            .layer {
                transform: scale(1.1);
                &:nth-child(1) {
                    .img {
                        background-image: url(../../assets/images/time-laps/birds-from-top/layer-1.png);
                    }
                }
                &:nth-child(2) {
                    .img {
                        background-image: url(../../assets/images/time-laps/birds-from-top/layer-2.png);
                    }
                }
                &:nth-child(3) {
                    .img {
                        margin-top: 5%;
                        margin-left: 2.5%;
                        height: 80%;
                        width: 90%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url(../../assets/images/time-laps/birds-from-top/layer-3.png);
                    }
                }
            }
        }
        &:nth-child(3) {
            transform: scale(1.1);
            .layer {
                &:nth-child(1) {
                    .img {
                        background-image: url(../../assets/images/time-laps/platform-view/layer-1.png);
                    }
                }
                &:nth-child(2) {
                    .img {
                        background-image: url(../../assets/images/time-laps/platform-view/layer-2.png);
                    }
                }
                &:nth-child(3) {
                    .img {
                        background-image: url(../../assets/images/time-laps/platform-view/layer-3.png);
                    }
                }
            }
        }
    }
}