section.contents {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    padding: 0 50px 0;
}

.subtitle {
    position: absolute;
    top: 110px;
    margin-left: 3px;
    font-size: 16px;
    line-height: 1.25;
    color: #F08300;
}

.contents_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contents_list {
    width: 100%;
    height: 100vh;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.platform_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.platform_text {
    position: absolute;
    bottom: 55px;
    width: 100%;
    left: 0;
    text-align: center;
    color: #999;
    font-size: 18px;
}

.list_items {
    position: absolute;
    bottom: 0;
    display: flex;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding: 57px 0;
    z-index: 1;
}

@keyframes left {
    0% {
        transform: translate(-100px) rotate(180deg);
    }
    100% {
        transform: translate(0px) rotate(180deg);
    }
}

@keyframes right {
    0% {
        transform: translate(100px) rotate(180deg);
    }
    100% {
        transform: translate(0px) rotate(180deg);
    }
}

.list_items:first-child {
    left: 0;
    animation: left 1s;
}

.list_items:last-child {
    right: 0;
    animation: right 1s;
}

.list_item {
    font-size: 54px;
    list-style: none;
    color: #F08300;
    display: flex;
    align-items: center;
    height: 60vh;
    padding: 0 30px;
    transition: .5s;
}

.list_item:hover {
    color: #002855;
}

.list_item:hover {
    cursor: pointer;
}

.list_items:first-child .list_item {
    border-left: 1px solid #F08300;
    transition: .5s;
}

.list_items:first-child .list_item:hover {
    border-left: 1px solid #002855;
}

.list_items:last-child .list_item {
    border-right: 1px solid #F08300;
}

.list_items:last-child .list_item:hover {
    border-right: 1px solid #002855;
    transition: .5s;
}

.list_item:last-child {
    border: none;
}


@media (max-width: 1600px) {   
    .list_item {
        height: 52vh;
        padding: 0 40px;
        font-size: 55px;
    }
    .platform_text {
        font-size: 16px;
    }
}


@media (max-width: 1400px) {   
    .list_item {
        padding: 0 38px;
        font-size: 52px;
    }
    .platform_text {
        font-size: 12px;
    }
}

@media (max-width: 1366px) {   
    .list_item {
        padding: 0 28px;
        font-size: 48px;
    }
    .platform_text {
        font-size: 15px;
    }
}

@media (max-width: 1280px) {   
    .list_item {
        padding: 0 26px;
        font-size: 44px;
    }
    .list_items {
        padding: 47px 0;
    }
    .platform_text {
        bottom: 44px;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .subtitle {
        top: 55px;
        margin-left: 1px;
        font-size: 12px;
    }
    
    .list_item {
        padding: 0 25px;
        font-size: 40px;
        height: 48vh;
    }
    .list_items {
        padding: 37px 0;
    }
    .platform_text {
        bottom: 15px;
        font-size: 13px;
    }
}

@media (max-width: 992px) {   
    .list_item {
        padding: 0 17px;
        font-size: 32px;
        height: 45vh;
    }
    .list_items {
        padding: 17px 0;
    }
    .platform_text {
        font-size: 12px;
    }
}

@media (max-width: 768px) {   
    .list_item {
        padding: 0 15px;
        font-size: 28px;
        height: 30vh;
    }
    .list_items {
        padding: 15px 0;
    }
    .platform_text {
        display: none;
    }
}