.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #005EB8;
  z-index: 9999;
}
.preloader__wrapp {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.perc_load {
  display: block;
  width: 350px;
  margin: 0 auto;
  overflow: visible;
}
.preloader_bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #005EB8;
  z-index: 9999;
  transition: 0.4s;
}

.anim-0-0 {
  animation: moveLineRight 2.5s infinite ease-out;
}
.anim-1-1 {
  animation: moveLineLeft 2s infinite ease-out;
}
.anim-2-2 {
  animation: moveLineLeft 1.5s infinite ease-out;
}
.anim-3-3 {
  animation: moveLineLeft 3s infinite ease-out;
}

@keyframes moveLineRight {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes moveLineLeft {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}
@media (max-width: 650px) {
  .perc_load {
    width: 150px;
  }
}
