.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    background: #002854;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray_bg {
    background: #f0f0f0;
}

.curtain_modal {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F08300;
    z-index: 3;
    animation: circle 1s linear;
}

@keyframes circle {
    from {
        width: 0vh;
        height: 0vh;
        border-radius: 50%;
    }
    to {
        width: 250vw;
        height: 250vw;
        border-radius: 50%;
    }
}
@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes invisible {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.close {
    animation: invisible .3s ease-out;
    opacity: 0;
}

.curtain_page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_relative {
    position: relative;
    z-index: 4;
}

.curtain_background {
    position: relative;
    display: none;
    flex-direction: column;
    font-size: 60px;
    color: #ffffff;
    background: #F08300;
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: transform 1s ease-in-out;
}

.curtain_subtitle {
    position: absolute;
    top: 110px;
    left: 50px;
    margin-left: 3px;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
}

.curtain_text {
    opacity: 1;
    animation: visible .3s linear;
}

.audiogid {
    position: fixed;
    left: 50px;
    top: 114px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.invisible {
    opacity: 0;
}

.description {
    width: 205px;
}

.audiogid_controlls {
    display: flex;
    align-items: center;
}

.audiogid_timeline {
    background: transparent;
    width: 120px;
}

.play_btn {
    background: url('../../images/Vector.png') center / contain no-repeat;
    height: 24px;
    width: 24px;
}

.stop_btn {
    background: url('../../images/pause.svg') center / contain no-repeat;
    height: 24px;
    width: 24px;
}

.player_info {
    margin-left: 30px;
}

.description_group {
    display: flex;
    flex-direction: row;
}

.player_desc {
    margin-right: 20px;
}

.audiogid_controlls {
    height: 100px;
}

.bd_audio_control {
    position: fixed;
    top: 40px;
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
    width: 205px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform, left 0.2s, 0.3s;
}

.bd_audio_control.right {
    left: 73%;
}

.bd_audio_control:hover {
    transform: translateX(-50%) scale(1.05);
}

@media (max-width:1600px) {
    .audiogid {
        font-size: 16px;
    }
}

@media (max-width:1366px) {
    .audiogid {
        font-size: 15px;
    }
    .audiogid_controlls {
        height: 90px;
    }
}

@media (max-width:1200px) {
    .curtain_subtitle {
        top: 55px;
        margin-left: 1px;
        font-size: 12px;
    }

    .bd_audio_control {
        top: 30px;
        width: 150px;
    }

    .bd_audio_control.right {
        left: 65%;
    }

    .audiogid_controlls {
        height: 80px;
    }

    .curtain_text {
        font-size: 50px;
    }
}