.warning-for-mobile:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #005eb8;
  color: #fff;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-sizing: border-box;
  z-index: 100000;
}

.warning-for-mobile:after {
  content: url(./assets/rotation-message.svg);
  position: fixed;
  width: 50vw;
  height: 50vw;
  left: calc(50% - 50vw / 2);
  top: calc(50% - 50vw / 2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-sizing: border-box;
  z-index: 100001;
}

@media screen and (orientation: portrait) {
  .warning-for-mobile:before,
  .warning-for-mobile:after {
    opacity: 1;
    visibility: visible;
  }

  .warning-for-mobile:after {
    animation: 40s rotation infinite forwards linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
