/* ddd */

.prev,
.next {
  width: 77px;
  height: 19px;
  color: #f18a00;
  background: transparent;
  transition: transform 0.2s;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  transform: scale(1.05);
}

.slides {
  width: 200px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.slide {
  padding-top: 30px;
  padding-bottom: 25px;
  color: #fff;
  font-family: 'Din', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.slide.active {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .prev,
  .next {
    width: 50px;
    height: 15px;
  }

  .slides {
    width: 150px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .slide {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}
