.platform-menu {
    position: relative;
    width: 100%;
    height: 350vh;
    margin-top: -100vh;
    opacity: 0;
    transition: opacity .3s;
    background-color: color('blue');

    &.visible {
    }

    .platform-menu__wrapper {
        position: sticky;
        height: 100vh;
        overflow: hidden;
        top: 0; left: 0;
    }

    .platform-menu__content, .platform-menu__background {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .platform-menu__content {
        z-index: 2;
    }

    .platform-menu__background {
        z-index: 1;
        canvas, .platform-menu__layers, .layer,
        .layer .img {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .layer .img {
        background-size: cover;
        background-position: center;
    }

    .platform-menu__layers .layer {
        transform: scale(1.1);
        &:nth-child(1) {
            .img {
                background-image: url(../../assets/images/platform-menu/layer-4.png);
            }
        }
        &:nth-child(2) {
            .img {
                background-image: url(../../assets/images/platform-menu/layer-3.png);
            }
        }
        &:nth-child(3) {
            .img {
                background-image: url(../../assets/images/platform-menu/layer-2.png);
            }
        }
        &:nth-child(4) {
            .img {
                background-image: url(../../assets/images/platform-menu/layer-1.png);
            }
        }

        &#addModelInstead {
            .img {
                height: 90%;
                background-size: contain;
                background-image: url(../../assets/images/platform-menu/platform-layer.png);
                background-repeat: no-repeat;
                top: 50%;
                transform: translateY(-50%);

                @media screen and (max-aspect-ratio: 1350/1080) {
                    width: 130% !important;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                @media screen and (min-aspect-ratio: 2200/1080) {
                    height: 85% !important;
                    top: 55%;
                }
            }
        }
    }
}
