.slides_page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100px 150px 50px;
  background: url('../../../images/children_modal_bg.png') center / cover
    no-repeat;
  background-color: #fff;
  z-index: 100;
}


.body {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #002856;
}

.platform {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 350px; /* should be equal to canvas height */
  max-width: 100%;
  max-height: 100%;
}

.platform_inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.description {
  font-size: 20px;
  color: #002855;
  margin-bottom: 50px;
  width: 308px;
  height: 100%;
  max-height: 200px;
}

.description p {
  margin: 0;
  padding-right: 5px;
}

.slider_container {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  max-height: 60vh;
  display: flex;
  gap: 50px;
}

.slider_back_control {
  font-size: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  cursor: pointer;
}

.slider_block {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slider_footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.slider_nav_container {
  position: relative;
}

.slider_nav_btn {
  font-family: 'Din', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  color: #0070ba;
  border: none;
  background: transparent;
  cursor: pointer;
}

.slider_nav {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 300px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.slider_nav_inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.95;
}

.slider_nav_item {
  font-family: 'Din', sans-serif;
  font-size: 16px;
  color: #02346d;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.slider_nav_item:hover {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .slides_page {
    padding: 75px 100px 0;
  }

  .slides_header.slides_header {
    padding-left: 100px;
    padding-right: 100px;
  }

  .slider_main {
    height: calc(100vh - 220px);
  }

  .body {
    margin-top: 10px;
    grid-template-columns: 300px 1fr;
    gap: 0;
  }

  .title {
    font-size: 24px;
  }

  .platform {
    margin-top: 0;
    width: 200px;
    height: 200px;
  }

  .description {
    margin-top: -10px;
    padding-right: 50px;
    height: calc(100vh - 390px);
  }
  
  .description p {
    font-size: 16px;
  }

  .slider_container {
    gap: 20px;
  }

 .slider_back_control {
    font-size: 30px;
  }

  .slider_control {
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
  }

  .slider_footer {
    margin-top: 5px;
  }

  .slider_nav {
    bottom: 25px;
    width: 250px;
    height: 250px;
  }

  .slider_nav_btn {
    font-size: 16px;
  }
}
