.sitemap_page {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.sitemap_content {
  margin-top: 200px;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
}

.sitemap_title {
  color: #f08300;
  font-size: 60px;
  font-weight: 400;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  border-left: 1px solid #f08300;
  margin-right: 155px;
  padding-left: 60px;
  padding-right: 50px;
}

.slides {
  padding-bottom: 30px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px 150px;
}

.slide_item {
  font-family: 'Din', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  background: transparent;
  border: none;
  color: #002856;
  cursor: pointer;
  transition: transform 0.2s;
}

.slide_item:hover {
  transform: scale(1.03);
}

.slide_item + .nav_item {
  margin-top: 30px;
}

.nav_item {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #002856;
  transition: transform 0.2s;
}

.nav_item:hover {
  transform: scale(1.03);
}

@media (max-width: 1200px) {
  .sitemap_content {
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .sitemap_title {
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 30px;
  }

  .slides {
    gap: 15px 50px;
  }

  .slide_item,
  .nav_item {
    font-size: 16px;
  }
}
