@font-face {
  font-family: "Din";
  src: url(fonts/DINPro.woff?) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(fonts/DINPro-Medium.woff?) format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Din";
  src: url(fonts/DINPro-Bold.woff?) format("woff");
  font-weight: 700;
  font-display: swap;
}
