@import url('fonts.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Din', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #f6f6f6;
}
