.logos {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.logo {
  height: 55px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.logo_img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .logo {
    height: 30px;
  }
}