header.header {
    position: relative;
    height: 92px;
    width: 100%;
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: 400;
    color: #0070BA !important;
    align-self: center !important;
    opacity: 1;
    text-decoration: none;
    transition: opacity .3s ease-in-out, color .3s, transform 0.2s;
}

.title:hover {
    transform: scale(1.02);
}

.compass_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    margin-top: 38px;
    opacity: 1;
    transition: opacity .3s;
}

.compass_box:hover {
    cursor: pointer;
}

.compass_box img {
    width: 124px;
    height: 124px;
    transform: rotate(46deg);
}

.white {
    filter: contrast(0) invert(1);
}

.invisible {
    opacity: 0;
}

.sound_on {
    width: 205px;
    transform: translateX(0px);
    transition: transform 0.3s;
}

.right {
    transform: translateX(200px);
    transition: transform 0.3s;
}

.logos {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}

.gazprom_logo {
    width: 90px;
    height: 43px;
}

.white {
    filter: brightness(0) invert(1);
}

.divider {
    width: 1px;
    height: 55px;
    background: #0070BA;
}

.arctic_logo {
    width: 90px;
    height: 43px;
    background: url('../../../images/arctic_time_logo.svg') center / contain no-repeat;
}

@media (max-width: 1200px) {
    header.header {
        height: 70px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .title {
        font-size: 24px;
    }

    .compass_box {
        top: 30%;
    }

    .compass_box img {
        width: 80px;
        height: 80px;
    }

    .right {
        transform: translateY(-200px);
        transition: transform .3s;
    }
}
