.sitemap_page {
  display: flex;
  background: url('../../../images/children_modal_bg.png') center / cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}

.sitemap_header.sitemap_header {
  padding-left: 150px;
  padding-right: 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
}

.sitemap_content {
  margin-top: 200px;
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
  display: flex;
  gap: 100px;
}

.sitemap_title {
  font-size: 40px;
  line-height: 1.25;
  white-space: nowrap;
  color: #002856;
}

.slides {
  margin-top: 18px;
  padding-bottom: 30px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px 150px;
}

.slide_item {
  font-family: 'Din', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  background: transparent;
  border: none;
  color: #002856;
  cursor: pointer;
  transition: transform 0.2s;
}

.slide_item:hover {
  transform: scale(1.03);
}

.slide_item + .nav_item {
  margin-top: 30px;
}

.nav_item {
  font-family: 'Din', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  color: #002856;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.nav_item:hover {
  transform: scale(1.03);
}

.download_comics {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.download_comics svg {
  width: 40px;
  height: 40px;
}

@media (max-width: 1400px) {
  .sitemap_content {
    gap: 50px;
  }

  .slides {
    gap: 25px 75px;
  }
}

@media (max-width: 1200px) {
  .slides {
    margin-top: 14px;
  }

  .sitemap_content {
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
  }

  .sitemap_title {
    font-size: 30px;
  }

  .slides {
    gap: 15px 50px;
  }

  .slide_item,
  .nav_item {
    font-size: 16px;
  }
}
