
.container {
    padding: 0 50px 0;
}

.title_page {
    width: 100%;
    height: 100vh;
    background: url("../../../images/crack.svg") center / contain no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 75px;
}

.title {
    display: flex;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #002855;
    margin: 0;
}

.description {
    width: 205px;
    text-align: center;
    font-size: 24px;
    color: #f08300;
    line-height: 30px;
    margin-top: 65px;
}

.button_block {
    height: 48%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_btn {
    margin-top: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    transition: .5s;
}

.scroll_btn:hover {
    transform: scale(1.05);
}

.scroll_icon {
    width: 152px;
    height: 152px;
    color: #0070BA;
}

.fade {
    opacity: 1;
    transition: .3s;
}

.fade_out {
    opacity: 0;
    transform: translateY(-40px);
}


@media (max-width: 1600px) {
    .title {
        font-size: 85px;
    }
    .description {
        margin-top: 40px;
    }
    .scroll_btn {
        width: 120px;
        height: 120px;
        margin-top: 60px;
    }
}

@media (max-width: 1367px) {
    .title_page {
        background: url("../../../images/crack.svg") center / cover no-repeat;
    }
    .title {
        font-size: 82px;
    }
    .description {
        margin-top: 35px;
    }
    .scroll_btn {
        width: 115px;
        height: 115px;
        margin-top: 50px;
    }
}

@media (max-width: 1200px) {
    .title {
        font-size: 80px;
    }
    .description {
        font-size: 24px;
        margin-top: 45px;
    }
    .scroll_btn {
        width: 123px;
        height: 123px;
        margin-top: 80px;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 60px;
    }
    .description {
        font-size: 23px;
        margin-top: 15px;
    }
    .scroll_btn {
        width: 113px;
        height: 113px;
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 60px;
    }
    .description {
        font-size: 22px;
        margin-top: 30px;
    }
    .scroll_btn {
        width: 103px;
        height: 103px;
        margin-top: 60px;
    }
}

@media (max-width: 820px) {
    .title {
        font-size: 50px;
    }
    .description {
        font-size: 22px;
        margin-top: 30px;
    }
    .scroll_btn {
        width: 103px;
        height: 103px;
        margin-top: 60px;
    }
}