$blue-dark: #002855;
$orange: #f18a00;

.content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 3.375rem 150px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    width: 19.5rem;
    color: color('blue');
    font-size: 2.25rem;
  }

  .compass {
    position: relative;
    width: 10rem;
    height: 10rem;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .logo {
    width: auto;
    height: 4rem;
    margin-left: 4rem;
  }
}

.header__content:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5.375rem;
}

.navigation__content_wrapper {
  position: relative;
  width: 310px;
  height: 400px;
  overflow: hidden;
}

.navigation__content {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  transform: translateY(0);
}

.navigation__content_wrapper:hover .navigation__content {
  transform: translateY(calc(-100% + 390px));
}

.navigation__item {
  position: relative;
  height: 130px;
  width: 100%;
  border-top: 2px solid $blue-dark;
  transition: border-color 0.3s ease;

  &:hover {
    border-top-color: $orange;

    + .navigation__item {
      border-top-color: $orange;
    }
  }

  &:last-child {
    border-bottom: 2px solid $blue-dark;

    &:hover {
      border-bottom-color: $orange;
    }
  }
}

.navigation__item.left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

.navigation__item.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: end;
}

.navigation__button {
  position: relative;
  padding: 20px 15px;
  width: 100%;
  max-width: 310px;
  font-family: 'Din', sans-serif;
  font-size: 30px;
  color: $blue-dark;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.navigation__item.left .navigation__button {
  text-align: start;
}

.navigation__item.right .navigation__button {
  text-align: end;
}

.download_comics {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: transform 0.2s;
}

.download_comics:hover {
  transform: scale(1.03);
}

.download_comics svg {
  width: 116px;
  height: 116px;
}

.download_comics span {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #002855;
}

@media (max-width: 1200px) {
  .content {
    padding-left: 100px;
    padding-right: 100px;
  }

  .navigation__content_wrapper {
    height: 170px;
    width: 30rem;
  }

  .navigation__content {
    position: static;
  }

  .navigation__item {
    position: relative;
    height: 80px;

    &:before,
    &:after {
      width: 30rem;
    }
  }

  .navigation__button {
    font-size: 20px;
    max-width: 30rem;
  }

  .download_comics {
    margin-top: 30px;
    gap: 40px;
  }

  .download_comics svg {
    width: 90px;
    height: 90px;
  }

  .download_comics span {
    font-size: 14px;
  }
}
